<div class="nav">
  {{#link-to "index"}}<img src="../little-axe.png" width="45px">{{/link-to}}
</div>
<div class="jumbotron">
  <h1 id="title">Little Axe Records</h1>
  <h3 class="center">Online distributor for Mississippi Record Label</h3>

   <!-- {{nav-bar}} -->
</div>

{{outlet}}
