<div class="container">
  <h1>Contact:</h1>

  <h2>Email: littleaxerecords@gmail.com</h2>

  <h2>phone: 503-320-3656</h2>

  <h2>Address:</h2>
  <li>Little Axe Records</li>
  <li>3746 NE 42nd</li>
  <li>Portland, OR 97213</li>

  <h4>We are open 12-6 Everyday. We are always buying collections of any size.</h4>


  <h2>About:</h2>

  <h4>Little Axe Records is a shop and record label. The label was founded in 2011 when the original Mississippi Records label split into two new labels, Mississippi/Change and Mississippi/Little Axe (Now just Little Axe Records). The shop originally opened in our garage on Beech in 2010 then moved to NE 28th in 2012. This year we moved to our new location at 3746 NE 42nd.

  Mississippi / Little Axe Records is a label and distribution arm of the original Mississippi Records Label. We will be distributing the two new Mississippi incarnations - Mississippi/Little Axe and Mississippi/Change. We also distribute some other labels too.

  The Little Axe cassettes started out of a magazine self published in Montreal between 2002-2006 called
  $2 (comes with mixtape).  There were fifteen issues with corresponding mixtapes as well as a couple made for the Distroboto.  A handful were made for the Mississippi tape series before the label split in 2011.

  Thank you for visiting our site. Please ask to be added to our mailing list to hear about new arrivals and additions to the website.

  Please note, all wholesale, retail and mail order inquiries should now be directed to littleaxerecords@gmail.com</h4>
</div>
